<!DOCTYPE html>
<html ng-app="agendaApp">
<head>
<meta charset="UTF-8">

<!--Bootstrap-->
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css" />

<!-- Angular -->
<script src="./js/angular.min.js"></script>
<script src="./js/angular-messages.min.js"></script>
<script src="./js/angular-locale_pt-br.js"></script>

<!--CSS e JS do projeto-->
<script src="./js/agenda.js"></script>
<link rel="stylesheet" href="./css/agenda.css"/>

<title>Agenda</title>
</head>
<body ng-controller="agendaController">


	<div class="jumbotron">
		<h3>Agenda</h3>
		
		<input class="form-control" placeholder="Informe o nome do contato" type="text" ng-model="busca"/>

		<table class="table">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordernarPor('nome')">Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito':contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: busca} | orderBy:ordenacao:direcaoDaOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado" /></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:'EEE dd/MM/yyyy HH:mm'}}</td>
				<td>
					<div style="width:20px; height:20px;" ng-style="{'background-color':contato.cor}">

					</div>
				</td>
			</tr>
		</table>


		<form name="contatoForm">
			<input class="form-control" type="text"  placeholder="Nome" ng-model="contato.nome" name="nome" ng-required="true" ng-minlength="5"/>
			<input class="form-control" type="text"  placeholder="Telefone" ng-model="contato.telefone" name="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ') '  group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione a operadora</option>
			</select>
		</form>

		<div ng-messages="contatoForm.nome.$error">
			<div ng-message="required && contatoForm.nome.$dirty" class="alert alert-danger">
				Por favor, preencha o nome!
			</div>
			<div ng-message="minlength && contatoForm.nome.$dirty" class="alert alert-danger">
				O campo deve ter no mínimo 5 caracteres.
			</div>

		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty"class="alert alert-danger">
			Por favor, preencha o telefone!
		</div>

		<div ng-show="contatoForm.telefone.$error.pattern"class="alert alert-danger">
			O campo telefone deve ter o formato DDDD-DDDD
		</div>


		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar contato</button>
	</div>
</body>
</html>
